@import "../../../../variables";
@import "../../../../../node_modules/bootstrap/scss/bootstrap.scss";

:host {
  display: block;
  min-width: 50vh;
  max-width: 400px;
  width: 100%;
  background: $text-light;
  border-radius: 8px;
  font-family: "Inter", "Roboto", Arial, sans-serif;
  box-shadow: $shadow-dialog;
  padding: 1.5rem 1rem;
}

@media (max-width: 576px) {
  :host {
    min-width: 300px;
    max-width: 100vw;
    padding: 1rem 0.5rem;
    border-radius: 0;
  }
}

.close-btn {
  color: #a0a8b0;
}

.dialog-divider {
  border: none;
  border-top: 1.5px solid $gray-500;
}

.dialog-message {
  font-size: 1.13rem;
  color: #5a657e;
  padding: 14px 0 28px 0;
}

.dialog-footer {
  background: #f3f6f9;
  border-radius: 0 0 4px 4px;
  padding: 1rem;
}

.btn-danger {
  color: $text-light !important;
  background: $danger !important;
  border: none;
}
.btn-danger:hover,
.btn-danger:focus {
  background: $danger-dark !important;
}

.btn-outline-secondary {
  color: $gray-900 !important;
  background: transparent !important;
  border: 1px solid $gray-500 !important;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  background: $gray-400 !important;
}
